{% load static %}
<html>
   <head>
      <title>Django </title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>
      <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
   </head>
   <body style="background-color:black">
         <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
               <a class="navbar-brand" href="#">ToDoList</a>
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                     <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Создать</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#">Добавить</a>
                     </li>
                     
                     <li class="nav-item">
                        <a class="nav-link disabled">Удалить</a>
                     </li>
                  </ul>
                  <form class="d-flex">
                     <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                     <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
               </div>
            </div>
         </nav>
   </body>
   </html>
{% comment %} 
<form class="row g-3">
               <div class="col-md-6">
                  <label for="inputEmail4" class="form-label">Название задачи</label>
                  <input type="email" class="form-control" id="inputEmail4">
               </div>
               <div class="col-md-4">
                  <label for="inputState" class="form-label">Статус</label>
                  <select id="inputState" class="form-select">
                     <option selected>Choose...</option>
                     {% for profile in profiles %}
                     <option class="" value="{{ profile.category }}" name="{{ profile.category }}">{{ profile.category }}</option>
                     {% endfor %}
                  </select>
               </div>
               <div class="col-md-2">
                  <label for="inputZip" class="form-label">Дата создания</label>
                  <input type="date" id="dueDate" class="taskDate" name="date">
               </div>
                <ul class="taskList">
                  {% for profile in profiles %} 
                  <li class="taskItem">
                     <input type="checkbox" class="taskCheckbox" name="checkedbox" id="{{ profile.options }}" value="{{ profile.options }}">
                     <label for="{{ profile.options }}"></label>
                     <span class="options-{{ profile.options }}">{{ profile.options }}</span>
                     <strong class="taskDate"><i class="fa fa-calendar"></i>{{ profile.created }} - {{ Profile.created_date }}</strong>
                  </li>
                  {% endfor %}
               </ul>
            </form> {% endcomment %}